@model List<ListingEmployees_UsingPartialView.Models.Employee>

@foreach (var employee in Model)
{
    <div class="row col-md-4">
        <table>
            <tr>
                <td>Name:</td>
                <td>@employee.Name</td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td>@employee.Salary</td>
            </tr>

        </table>
    </div>
}
