@model List<ListingEmployees_UsingPartialView.Models.Employee>
@{
    ViewData["Title"] = "GetEmployees";
}

<h1>GetEmployees Using Partial View</h1>
<partial name="_EmployeeListPartial" model="Model"/>

